.dekstop,
.dekstop * {
  box-sizing: border-box;
}
.dekstop {
  background: #ffffff;
  padding: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.body {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 1200px;
  position: relative;
}
.header {
  background: linear-gradient(
    90deg,
    rgba(68, 68, 68, 0) 0%,
    rgba(34, 34, 34, 0) 100%
  );
  padding: 14px 30px 15px 30px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.personal-blog {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  line-height: 51.2px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav {
  background: rgba(40, 40, 40, 0);
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px 0px 1px 0px;
  padding: 5px 5px 6px 1456.09px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  backdrop-filter: blur(5px);
}
.link-margin {
  padding: 5px 15px 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link {
  background: linear-gradient(
    68.05deg,
    rgba(229, 90, 155, 1) 0%,
    rgba(138, 43, 226, 1) 100%
  );
  border-radius: 30px;
  padding: 4px 10px 5.92px 10px;
  display: flex;
  flex-direction: row;
  gap: 0.01px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.symbol {
  color: #ffffff;
  text-align: left;
  font-family: "FontAwesome5Free-Solid", sans-serif;
  font-size: 11.199999809265137px;
  line-height: 11.2px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 11.199999809265137px;
  line-height: 17.92px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.overlay {
  background: rgba(255, 255, 255, 0);
  flex-shrink: 0;
  width: 100%;
  height: 141.44%;
  position: absolute;
  right: 80.13%;
  left: -80.13%;
  bottom: -41.44%;
  top: 0%;
  transform-origin: 0 0;
  transform: rotate(35.264deg) scale(1.225, 0.707);
}
.link2 {
  background: linear-gradient(
    68.88deg,
    rgba(229, 90, 155, 1) 0%,
    rgba(138, 43, 226, 1) 100%
  );
  border-radius: 30px;
  padding: 4px 10px 5.92px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 11.199999809265137px;
  line-height: 17.92px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.overlay2 {
  background: rgba(255, 255, 255, 0);
  flex-shrink: 0;
  width: 100%;
  height: 141.44%;
  position: absolute;
  right: 80.99%;
  left: -80.99%;
  bottom: -41.44%;
  top: 0%;
  transform-origin: 0 0;
  transform: rotate(35.264deg) scale(1.225, 0.707);
}
.link3 {
  background: linear-gradient(
    74.33deg,
    rgba(229, 90, 155, 1) 0%,
    rgba(138, 43, 226, 1) 100%
  );
  border-radius: 30px;
  padding: 4px 10px 5.92px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.portfolio {
  margin: 0 0 0 -0.01px;
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 11.199999809265137px;
  line-height: 17.92px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.overlay3 {
  margin: 0 0 0 -0.01px;
  background: rgba(255, 255, 255, 0);
  flex-shrink: 0;
  width: 100%;
  height: 141.44%;
  position: absolute;
  right: 88.27%;
  left: -88.27%;
  bottom: -41.44%;
  top: 0%;
  transform-origin: 0 0;
  transform: rotate(35.264deg) scale(1.225, 0.707);
}
.link4 {
  background: linear-gradient(
    74.07deg,
    rgba(229, 90, 155, 1) 0%,
    rgba(138, 43, 226, 1) 100%
  );
  border-radius: 30px;
  padding: 4px 10px 5.92px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.my-games {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 11.199999809265137px;
  line-height: 17.92px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.overlay4 {
  background: rgba(255, 255, 255, 0);
  flex-shrink: 0;
  width: 100%;
  height: 141.44%;
  position: absolute;
  right: 86.44%;
  left: -86.44%;
  bottom: -41.44%;
  top: 0%;
  transform-origin: 0 0;
  transform: rotate(35.264deg) scale(1.225, 0.707);
}
.section {
  padding: 100px 20px 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-1-margin {
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.heading-1-welcome {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 80px;
  line-height: 128px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.margin {
  padding: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: 600px;
  position: relative;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: 600px;
  position: relative;
}
.a-place-to-share-interesting-stories-and-experiences {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-margin2 {
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link5 {
  background: linear-gradient(
    75.41deg,
    rgba(229, 90, 155, 1) 0%,
    rgba(138, 43, 226, 1) 100%
  );
  border-radius: 30px;
  padding: 14.5px 40px 14.64px 40px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.start-reading {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 17.600000381469727px;
  line-height: 28.16px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.overlay5 {
  background: rgba(255, 255, 255, 0.3);
  flex-shrink: 0;
  width: 100%;
  height: 141.42%;
  position: absolute;
  right: 88.72%;
  left: -88.72%;
  bottom: -41.42%;
  top: 0%;
  transform-origin: 0 0;
  transform: rotate(35.264deg) scale(1.225, 0.707);
}
.overlay-border-shadow-overlay-blur {
  background: rgba(40, 40, 40, 0.6);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  padding: 41px 21px 21px 21px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1200px;
  max-width: 1200px;
  position: relative;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}
.article {
  background: #444444;
  border-radius: 8px;
  align-self: stretch;
  flex-shrink: 0;
  height: 229.03px;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 23px;
  left: 15px;
  top: 85.36px;
}
.hello-welcome-to-my-personal-blog-a-place-where-i-share-my-journey-and-exploration-in-the-world-of-design-games-and-3-d-creativity-as-a-university-student-who-loves-design-and-technology-i-believe-every-idea-has-the-potential-to-come-to-life-here-you-will-find {
  color: #e0e0e0;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: relative;
  width: 1128px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 28px;
  left: 15px;
  top: 137.25px;
}
._3-d-environment-design-showcasing-my-latest-projects {
  color: #e0e0e0;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 15px;
  left: 15px;
  top: 162.85px;
}
.game-design-insights-and-experiences-in-creating-engaging-games {
  color: #e0e0e0;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 15px;
  left: 15px;
  top: 188.44px;
}
.personal-reflections-thoughts-on-hobbies-learning-processes-and-innovation {
  color: #e0e0e0;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-2 {
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 15px;
  left: 15px;
  top: 14.5px;
}
.symbol2 {
  color: #e0e0e0;
  text-align: left;
  font-family: "FontAwesome5Free-Solid", sans-serif;
  font-size: 28.799999237060547px;
  line-height: 28.8px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home2 {
  color: #e0e0e0;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 28.799999237060547px;
  line-height: 46px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.gradient {
  background: linear-gradient(
    86.57deg,
    rgba(229, 90, 155, 1) 0%,
    rgba(138, 43, 226, 1) 100%
  );
  border-radius: 2px;
  flex-shrink: 0;
  width: 50px;
  height: 3px;
  position: absolute;
  left: 0px;
  bottom: -0.01px;
}
.article2 {
  background: #444444;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.heading-22 {
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.symbol3 {
  color: #e0e0e0;
  text-align: left;
  font-family: "FontAwesome5Free-Solid", sans-serif;
  font-size: 28.799999237060547px;
  line-height: 28.8px;
  font-weight: 400;
  position: relative;
  width: 26px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about-me {
  margin: 0 0 0 0px;
  color: #e0e0e0;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 28.799999237060547px;
  line-height: 46px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.gradient2 {
  margin: 0 0 0 0px;
  background: linear-gradient(
    86.57deg,
    rgba(229, 90, 155, 1) 0%,
    rgba(138, 43, 226, 1) 100%
  );
  border-radius: 2px;
  flex-shrink: 0;
  width: 50px;
  height: 3px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.container6 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.yoas-nevil-sandy-samudra {
  border-radius: 8px;
  border-style: solid;
  border-color: #659286;
  border-width: 1px;
  flex-shrink: 0;
  width: 81.09px;
  height: 120px;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  object-fit: cover;
}
.container7 {
  padding: 0px 21.89px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.hi-my-name-is-yoas-nevil-sandy-samudra-but-you-can-call-me-joo-i-am-a-university-student-who-loves-design-and-technology-on-this-blog-i-share-my-experiences-in-the-world-of-games-3-d-environment-design-and-my-other-hobbies-join-my-journey-and-find-new-inspiration-in-every-post {
  color: #e0e0e0;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: relative;
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.article3 {
  background: #444444;
  border-radius: 8px;
  padding: 14.5px 15px 40px 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.heading-23 {
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.portfolio2 {
  color: #e0e0e0;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 28.799999237060547px;
  line-height: 46px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.gradient3 {
  background: linear-gradient(
    86.57deg,
    rgba(229, 90, 155, 1) 0%,
    rgba(138, 43, 226, 1) 100%
  );
  border-radius: 2px;
  flex-shrink: 0;
  width: 50px;
  height: 3px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.overlay-shadow {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  flex-shrink: 0;
  height: 606.38px;
  max-width: 1100px;
  position: relative;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.project-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: hidden;
  object-fit: cover;
}
.overlay-shadow2 {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  flex-shrink: 0;
  height: 616.38px;
  max-width: 1100px;
  position: relative;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.project-2 {
  width: 100%;
  height: 98.38%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 1.62%;
  top: 0%;
  overflow: hidden;
  object-fit: cover;
}
.overlay-shadow3 {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  flex-shrink: 0;
  height: 616.37px;
  max-width: 1100px;
  position: relative;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.project-3 {
  width: 100%;
  height: 98.38%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 1.62%;
  top: 0%;
  overflow: hidden;
  object-fit: cover;
}
.project-4 {
  width: 100%;
  height: 98.38%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 1.62%;
  top: 0%;
  overflow: hidden;
  object-fit: cover;
}
.project-5 {
  width: 100%;
  height: 98.38%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 1.62%;
  top: 0%;
  overflow: hidden;
  object-fit: cover;
}
.article4 {
  background: #444444;
  border-radius: 8px;
  align-self: stretch;
  flex-shrink: 0;
  height: 835.63px;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.container8 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 15px;
  left: 15px;
  top: 86.06px;
}
.these-are-the-games-i-have-made-click-on-any-game-to-play-it-on-itch-io {
  color: #e0e0e0;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container9 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  right: 15px;
  left: 15px;
  top: 141.65px;
}
.background-shadow {
  background: #383838;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.background {
  background: #2c2c2c;
  padding: 15.61px 0px 15.61px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.link6 {
  padding: 0px 0px 7.59px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.kids-zaman-now {
  flex: 1;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.container10 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.heading-3-margin {
  padding: 0px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.kids-zaman-now2 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 22.399999618530273px;
  line-height: 35.84px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container11 {
  margin: -1.1px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.kids-zaman-now-is-a-casual-game-that-puts-you-in-the-shoes-of-a-kid-who-just-got-scolded-by-his-mom-for-having-a-messy-room {
  color: #cccccc;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 15.199999809265137px;
  line-height: 22.8px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.margin2 {
  margin: -1.1px 0 0 0;
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.horizontal-border {
  border-style: solid;
  border-color: #4a4a4a;
  border-width: 1px 0px 0px 0px;
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container12 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.simulation {
  color: #a0a0a0;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 14.399999618530273px;
  line-height: 23px;
  font-weight: 500;
  position: relative;
  max-height: 23.04px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container13 {
  padding: 0px 0px 4.59px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.symbol4 {
  color: #a0a0a0;
  text-align: left;
  font-family: "FontAwesome5Brands-Regular", sans-serif;
  font-size: 20.799999237060547px;
  line-height: 20.8px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.background2 {
  background: #2c2c2c;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 308.81px;
  position: relative;
  overflow: hidden;
}
.highway-hustle {
  flex: 1;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.highway-hustle2 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 22.399999618530273px;
  line-height: 35.84px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dodge-collect-and-conquer-the-highway-in-this-fast-paced-reflex-testing-driving-game {
  color: #cccccc;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 15.199999809265137px;
  line-height: 22.8px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.racing {
  color: #a0a0a0;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 14.399999618530273px;
  line-height: 23px;
  font-weight: 500;
  position: relative;
  max-height: 23.04px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.my-games2 {
  color: #e0e0e0;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 28.799999237060547px;
  line-height: 46px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section3 {
  background: rgba(40, 40, 40, 0.6);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  padding: 21px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1128px;
  max-width: 1200px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 661.5px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}
.container14 {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container15 {
  padding: 0px 0px 7.59px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 80px;
  height: 87.59px;
  position: relative;
}
.container16 {
  display: flex;
  flex-direction: column;
  gap: 4.29px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.find-me-on-itch-io {
  color: #e9e9e9;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 25.600000381469727px;
  line-height: 40.96px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  max-height: 40.96px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container17 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: 450px;
  position: relative;
}
.follow-my-journey-and-discover-more-projects-prototypes-and-game-assets-on-my-official-page {
  color: #b0b0b0;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link8 {
  background: linear-gradient(
    76.62deg,
    rgba(229, 90, 155, 1) 0%,
    rgba(138, 43, 226, 1) 100%
  );
  border-radius: 30px;
  padding: 15px 30px 15px 30px;
  display: flex;
  flex-direction: row;
  gap: 9.99px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
}
.container18 {
  padding: 0px 0px 0.8px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.symbol5 {
  color: #ffffff;
  text-align: left;
  font-family: "FontAwesome5Brands-Regular", sans-serif;
  font-size: 20.799999237060547px;
  line-height: 20.8px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.view-my-profile {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.your-profile-avatar {
  border-radius: 40px;
  border-style: solid;
  border-color: #cda8e2;
  border-width: 3px;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 36px;
  top: 687.33px;
  box-shadow: 0px 0px 15px 0px rgba(205, 168, 226, 0.3);
  overflow: hidden;
  object-fit: cover;
}
.background-shadow2 {
  background: #383838;
  border-radius: 8px;
  padding: 19px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 600px;
  max-width: 600px;
  position: relative;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}
.heading-24 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.komentar {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 24px;
  line-height: 38.4px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-margin {
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  padding: 11px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container19 {
  padding: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.nama {
  color: #757575;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.textarea-margin {
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.textarea {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  padding: 11px 11px 30px 11px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: auto;
}
.container20 {
  padding: 1px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.tulis-komentar-anda {
  color: #757575;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-margin {
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button {
  background: linear-gradient(
    84.8deg,
    rgba(229, 90, 155, 1) 0%,
    rgba(138, 43, 226, 1) 100%
  );
  border-radius: 30px;
  padding: 15px 40px 16px 40px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.submit-comment {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17.049999237060547px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay6 {
  background: rgba(255, 255, 255, 0.3);
  flex-shrink: 0;
  width: 100%;
  height: 159.81%;
  position: absolute;
  right: 95.45%;
  left: -95.45%;
  bottom: -59.81%;
  top: 0%;
  transform-origin: 0 0;
  transform: rotate(35.264deg) scale(1.225, 0.707);
}
.footer {
  background: #222222;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(229, 90, 155, 1) 0%,
    rgba(138, 43, 226, 1) 100%
  );
  border-image-slice: 1;
  padding: 32px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container21 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.follow-me-on {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container22 {
  padding: 20px 140.87px 7.59px 140.86px;
  display: flex;
  flex-direction: row;
  gap: 14.5px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.link9 {
  background: linear-gradient(
    74.24deg,
    rgba(229, 90, 155, 1) 0%,
    rgba(138, 43, 226, 1) 100%
  );
  border-radius: 30px;
  padding: 9.5px 20px 9.64px 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container23 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.symbol6 {
  color: #ffffff;
  text-align: center;
  font-family: "FontAwesome5Brands-Regular", sans-serif;
  font-size: 17.600000381469727px;
  line-height: 17.6px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.instagram {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 17.600000381469727px;
  line-height: 28.16px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay7 {
  background: rgba(255, 255, 255, 0.3);
  flex-shrink: 0;
  width: 100%;
  height: 141.42%;
  position: absolute;
  right: 85.15%;
  left: -85.15%;
  bottom: -41.42%;
  top: 0%;
  transform-origin: 0 0;
  transform: rotate(35.264deg) scale(1.225, 0.707);
}
.link10 {
  background: linear-gradient(
    73.8deg,
    rgba(229, 90, 155, 1) 0%,
    rgba(138, 43, 226, 1) 100%
  );
  border-radius: 30px;
  padding: 9.5px 20px 9.64px 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.telegram {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 17.600000381469727px;
  line-height: 28.16px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay8 {
  background: rgba(255, 255, 255, 0.3);
  flex-shrink: 0;
  width: 100%;
  height: 141.42%;
  position: absolute;
  right: 89.04%;
  left: -89.04%;
  bottom: -41.42%;
  top: 0%;
  transform-origin: 0 0;
  transform: rotate(35.264deg) scale(1.225, 0.707);
}
.link11 {
  background: linear-gradient(
    71.71deg,
    rgba(229, 90, 155, 1) 0%,
    rgba(138, 43, 226, 1) 100%
  );
  border-radius: 30px;
  padding: 9.5px 20px 9.64px 20px;
  display: flex;
  flex-direction: row;
  gap: 5.01px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.twitter {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 17.600000381469727px;
  line-height: 28.16px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay9 {
  background: rgba(255, 255, 255, 0.3);
  flex-shrink: 0;
  width: 100%;
  height: 141.42%;
  position: absolute;
  right: 85.03%;
  left: -85.03%;
  bottom: -41.42%;
  top: 0%;
  transform-origin: 0 0;
  transform: rotate(35.264deg) scale(1.225, 0.707);
}
.link12 {
  background: linear-gradient(
    70.29deg,
    rgba(229, 90, 155, 1) 0%,
    rgba(138, 43, 226, 1) 100%
  );
  border-radius: 30px;
  padding: 9.5px 20px 9.64px 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.github {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 17.600000381469727px;
  line-height: 28.16px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay10 {
  background: rgba(255, 255, 255, 0.3);
  flex-shrink: 0;
  width: 100%;
  height: 141.42%;
  position: absolute;
  right: 82.94%;
  left: -82.94%;
  bottom: -41.42%;
  top: 0%;
  transform-origin: 0 0;
  transform: rotate(35.264deg) scale(1.225, 0.707);
}
.link13 {
  background: linear-gradient(
    71.3deg,
    rgba(229, 90, 155, 1) 0%,
    rgba(138, 43, 226, 1) 100%
  );
  border-radius: 30px;
  padding: 9.5px 20px 9.64px 20px;
  display: flex;
  flex-direction: row;
  gap: 4.99px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.spotify {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 17.600000381469727px;
  line-height: 28.16px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay11 {
  background: rgba(255, 255, 255, 0.3);
  flex-shrink: 0;
  width: 100%;
  height: 141.42%;
  position: absolute;
  right: 84.4%;
  left: -84.4%;
  bottom: -41.42%;
  top: 0%;
  transform-origin: 0 0;
  transform: rotate(35.264deg) scale(1.225, 0.707);
}
._2025-personal-blog-copyright-by-joo {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
